.landing {
  position: relative;
  // background-color: rgba(0, 0, 0, 0.64);
  // background-image: url('../../../public/images/landing.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 600px;
  // background-color: rgba(0, 0, 0, 0.64) ;

  padding: 180px;

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */


    color: #FFFFFF;

  }
  p {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */


    color: #FFFFFF;
  }
  button {
    background: #ED1652;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
    border-radius: 6px; 
    padding: 18px;

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      /* identical to box height */

      text-align: center;

      color: #EBF4F8;
    }
  }
  .landing-title {
    z-index: 1;
  }
  .landing-bg::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    
  }
  .landing-bg {
    background-color: rgba(0, 0, 0, 0.64);
    background-image: url('../../../public/images/landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }
}
