@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "../../styles/_variables.scss";

.notfound-container {
    position: absolute;
    top:40%;
}
.notfound-title {
    font-size: 140px;
    color: white!important;;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:600;
}
.notfound-content {
    font-size: 20px;
    color: white!important;;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:600;
}