.activity {
  &-header {
    h1, p {
      text-align: center;
      font-weight: 600;
    }
  }
  &-category {
    border-bottom: 1px solid #DADADA;
  }
  table {
    color: white;
    thead {
      tr {
        // border-bottom: none;
        th {
          border-bottom-width: 0px !important;
          // border-bottom-width: 1px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          /* identical to box height, or 110% */


          color: #FFFFFF;
        }
      }
    }
    td {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 110% */


      color: #FFFFFF;
    }
  }
  .table > :not(caption) > * > * {
    // border-bottom-width: 0px !important;
  }
  .table > :not(:first-child) {
    border-top: none !important;
  }
}