@import 'bootstrap/dist/css/bootstrap.min.css';

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "./_variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-dark-light {
  color:black;
}

.App {
  padding-left:0px!important;
  padding-right:0px!important;
}

.container {

}

.pull-width {
  width: 100% !important;
}

h1.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  /* identical to box height, or 129% */


  color: #2C2738;
}

p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  // font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
p.bold {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  // font-weight: 400;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.font-bold {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 800 !important;
  line-height: 36px !important;
  letter-spacing: 0px;
  text-align: left;
}
.underline {
  border-bottom: 1px solid #979797;
}
div.switch {
  margin-left: 12px !important;
  border-radius: 12px !important;
  border: 1px solid $bg-dark;

  .switch-handle {
    border-radius: 8px;
    background: linear-gradient(180deg, #70BCFD -19.23%, #403896 -19.22%, #8D3695 51.86%, #BB2E69 117.49%);
    margin-left: 12px;
  }
  .switch-on {
    margin-left: -8px;
    // margin-top: 2px;
    background-color: $fg-dark;
  }
  .switch-off.btn-xs {
    padding-left: 1.3rem;
  }
  .switch-off {
    // margin-top: 2px;
  }
}

input {
  border: 1px solid #979797;
  border-left: none;
  color: #979797;
  background: transparent;
}

.bg-dark {
  background-color: $fg-dark !important;
}
.bg-gray {
  background: #DBE2EA !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
.text-active {
  color: #0880AE !important;
}
.text-rejected {
  color: #FF5689 !important;
}
// .text-pending {

// }
.text-accepted {
  color: #05EDC6 !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #898989;
}
@include media-breakpoint-down(sm) {
  .card {
    max-width: 300px !important;
    // margin: 0px 0px 0px 24px !important;
    margin: auto !important;
    margin-bottom: 12px !important;
  }
}


.dark {
  background-color: $bg-dark;
  h1.title {
    color: white; 
  }
  .text-dark-light {
    color:white
  }
  .card {
    background: #333236;
    // margin: auto;
    // height: 450px;
    // width: 100%;
    // max-width: 300px;
    // margin-bottom: 12px;
    
    .card-title {
      color: white;
    }
    p {
      color: white;
    }
  }
  h1 {
    color: white;
  }
  p {
    color: $text-gray;
  }
  .nav-item > a:hover {
    color: white !important;
  }
  div.switch {
    .switch-handle {
      border-width:0px;
      margin-left: -15px;
      background: linear-gradient(180deg, #70BCFD -19.23%, #403896 -19.22%, #8D3695 51.86%, #BB2E69 117.49%);
    }
  }
}
.card {
  background: white;
  height: 450px;
  // width: 100%;
  max-width: 300px;
  margin: 12px 12px;
  border-radius: 16px;
  padding: 20px;
  img.card-img-top {
    border-radius: 16px;
    height: 280px;
  }
  &-body {
    padding: 12px 0px;
  }
  // &-title {

  // }
}
.mi-button-primary {
  background: #009CDE !important;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  padding: 14px 24px;
  text-align: center;

  color: #EBF4F8;
}
.mi-button-light {
  background: #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  padding: 14px 24px;
  text-align: center;

  color: #2C2738;
}
img.react-parallax-bgimage {
  width: 100% !important;
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}
@include media-breakpoint-down(xxl) {

}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap React

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
