.dropdown {
  button {
    background: #333236;
    box-shadow: 0px 4px 8px rgba(89, 88, 92, 0.04);
    border-radius: 6px;
    padding: 18px 80px;
    border: none;
    width: 280px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;

    color: #979797;
  }
  .dropdown-menu {
    width: 280px;

    a {
      padding: 12px 82px;
      text-transform: capitalize;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;

      color: #979797;
    }
  }
}