@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.nft-card {
  background: #FFFFFF;
  // box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.6), 0px 24px 48px rgba(44, 39, 56, 0.12);
  box-shadow: 0px 12px 24px rgb(37 36 42 / 50%), 0px 24px 48px rgb(32 30 30 / 2%);
  border-radius: 24px;
  padding: 20px;

  img {
    border-radius: 16px;
  }
  .card-title {
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
  }
}

@include media-breakpoint-down(sm) {
  .nft-card {
    .card-body {
      padding: 0px;
    }
  }
}